:root {
    --primary1: #ff7266;
    --primary2: #4c3aff;
    --primary3: #4d50fb;
    --text2: #393e45;
}




.wordsmith-944-g-spanUnderline {
    border-bottom: 2px solid var(--primary2);
    z-index: 21474836380;
}

.wordsmith-944-g-spanUnderline:hover {
    background-color: rgb(232, 232, 232);
    opacity: 70%;
    cursor: pointer;
}


.wordsmith-944-g-PopUpBody {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 80px;
    background-color: white;
    border: none;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 6px 4px rgb(26 33 52 / 11%);
    z-index: 2147483636;
}


.wordsmith-944-g-PopUp {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}


.wordsmith-944-g-PopUpFirstSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 20px);
    height: calc(70% - 4px);
    padding: 2px 10px;
}


.wordsmith-944-g-PopUpText {
    font-size: 13px;
    color: var(--text2);
    font-weight: 300;
}

.wordsmith-944-g-PopUpBottomDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}


.wordsmith-944-g-PopUpAcceptButton {
    color: var(--text2);
    font-size: 13px;
    font-weight: 400;
    border: none;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 0px 15px;
}

.wordsmith-944-g-PopUpAcceptButton:hover {
    background-color: var(--primary2);
    color: white;
    cursor: pointer;
}



.wordsmith-944-g-PopUpIgnoreButton {
    color: var(--text2);
    font-size: 13px;
    font-weight: 400;
    border: none;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 15px 0px;
}

.wordsmith-944-g-PopUpIgnoreButton:hover {
    background-color: var(--primary2);
    color: white;
    cursor: pointer;
}